body {
    font-size: 24px;
}
.green {
    color: green;
}
.red {
    color: red;
    }
.blue{color:blue
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.li.green {
    color: green;
}
.li.red {
    color: red;
}
.li.blue{color:blue
}
span.xxsmall {
    font-size: 10px;
}
li.brawn{color:brown
}
span.xsmall {
    font-size: 20px;
}
span.small {
    font-size: 30px;
}
span.medium {
    font-size: 40px;
}
span.large {
    font-size: 50px;
}
span.xlarge {
    font-size: 60px;
}
span.xxlarge {
    font-size: 70px;
}
